.table>tbody>tr>td {vertical-align:middle!important;}
.w46{
	width:46px;
	text-align:right;
}
/*БЛОК С ОЦЕНКАМИ*/
.grade{
	display:inline-block;
	text-align: center;
	padding: 2px;
	color: #fff;
	border-radius: 2px;
	width: 40px;
}
.grade_1,.bad{background: #ff0800 !important;}
.grade_2{background: #ff7636 !important;}
.grade_3{background: #f1c40f !important;}
.grade_4,.good{background: #99cc33 !important;}
.grade_5{background: #29cf00 !important;}
.grade_0{display: none !important;}
.grade_n{color:inherit; background: none !important;}


/*Блок с информацией*/
.alert{margin-bottom:10px;}

/*КМ НА ТЕКУЩЕЙ НЕДЕЛЕ*/
.mini_circle {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-left:5px;
}

/*МБВ*/
.mvb{
	font-size: 10px;
	text-align:right;
}

/*Переключение балл/процент */
#bp{cursor:pointer;width: 40px;display:inline-block;}